# python
.venv/
__pycache__/
.python-version

# database
*.db
*.db-journal
postgres_data/

# logs
*.log
logs/

# testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# jupyter notebook
.ipynb_checkpoints

# secrets
.env
.streamlit/

# builds
bin/
